@font-face {
	font-family: 'Cardo', serif;
	src: url("https://fonts.googleapis.com/css?family=Cardo");
}
@font-face {
	font-family: 'Josefin Sans', sans-serif;
	src: url("https://fonts.googleapis.com/css?family=Josefin+Sans");
}
