#contactUsPage label {
	padding: 2%;
	display: inline-block;
	text-align: right;
	width: 90%;
}

#contactUsPage .messageFieldSet {
	margin-top: 20px;
	padding: 2%;
	line-height: 1.6em;
}

input[type="text"], input[type="email"], #contactUsPage textarea  {
	width: 70%;
}

#contactUsPage select {
	width: 160px;
}