.pageBody {
	padding: 0% 2%;
}

.pageBody .column1 {
	clear: both;
	margin: 0px auto;
	float: left;
	min-width: 320px;
	width: 63%;
}

.pageBody .column2 {
	padding-left: 2%;
	float: left;
	min-width: 320px;
	width: 33%;
}

/* This makes sure that the footer goes down to the bottom of the page properly */
footer {
	clear: both;
}



