/* Style the main content (left) */
.pageBody .column1 {
	clear: both;
	margin: 0px auto;
	float: left;
	min-width: 320px;
	width: 63%;
}
#pageBody section article {
	overflow: auto;
}

/* Style the aside content (right) */
.pageBody .column2 {
	padding-left: 2%;
	float: left;
	min-width: 320px;
	width: 33%;
}

#pageBody section aside article {
	clear: both;
	overflow: auto;
}
