#indexPage {
	background-image: none;
}

#indexPage  section.aboveTheFold {
	clear: both;
	float: none;
	min-height: 570px;
	min-width: 320px;
	width: 95%;
}

#indexPage .aboveTheFold, .aboveTheFold p, .aboveTheFold img {
	text-align: center;
	font-size: 125%;
	padding: 10px 10px;
}

#indexPage .belowTheFold {
	min-height: auto;
	min-width: 320px;
	width: 95%;
}

#indexPage .belowTheFold #column1 {
	width: 45%;
	float: left;
	text-align: left;
	padding: 10px 10px;
}

#indexPage .belowTheFold #column2 {
	width: 45%;
	float: left;
	text-align: left;
	padding: 10px 10px;
}
