#aboutUsPage, #blogPage, #contactUsPage, #privacyPage, #productsPage, #returnsAndRefundsPage, #termsAndConditionsPage {
	background-image: url("../img/logos/gtp_new_logo_tree_only_transparent.png");
	background-repeat: space;
	background-position: center center;
	background-size: 700px 700px;
}

.pageBody {
	clear: both;
	margin: 1% auto;
	float: left;
	min-width: 320px;
	/*width: 96%;*/
}