#aboutUsPage .pageBody, #blogPage.pageWrapper, #contactUsPage.pageWrapper, #loginPage .pageBody,
#privacyPage.pageWrapper, #productsPage .pageBody, #allProductsPage .pageBodyDualPage,
#returnsAndRefundsPage .pageBody, #signUpPage .pageBody, #termsAndConditionsPage .pageBody {
	background-image: url("../img/logos/gtp_new_logo_tree_only_transparent.png");
	background-repeat: space;
	background-position: center center;
	background-size: 75%;
}

.pageBody {
	clear: both;
	margin: 1% auto;
	float: left;
	min-width: 320px;
	/*width: 96%;*/
}