/* Make sure everything is at block by default */
header, nav, main, section, aside, article, figure, figcaption, footer {
	display: block;
}

/* Style entire page */
body {
	background-color: #bea053;
}

/* Set the heading font stack */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Cardo', serif;
}

/* Default page settings for a 960 single page */
.pageWrapper {
	/*background-image: url("../img/logos/gtp_new_logo_tree_only.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 700px 700px;*/
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.4em;
	max-width: 960px;
	min-width: 320px;
	margin: 20px auto;
	border: 2px solid #000000;
	background-color: #f2d181;
}

header {
	padding: 2% 2%;
}

/* Style the header

Change to an inline element
Set the font size to be 110% of the user's font
Float the element to the left
Add some padding after it to put space between it at the logo

*/
header h1 {
	display: inline-block;
	font-size: 110%;
	float: right;
	padding-left: 16px;
}

header a {
	display: inline-block;
	float: left;
}

header nav ul, header nav li {
	display: inline;
	float: left;
	padding-right: 16px;
}

header #membersArea {
	width: 160px;
	padding: 16px 16px;
}

header #buttonSignIn {
	text-align: center;
	background-color: #81a2f2;
	color: black;
	width: 72px;
	margin-right: 11px; /* this is 11 because of the text in the middle */
}

header #buttonSignUp {
	text-align: center;
	background-color: #81a2f2;
	color: black;
	width: 72px;
}

header .breadcrumbs a {
	display: inline;
	float: left;
	padding-right: 8px;
}

/* Style main section */
main {
	padding: 2% 2%;
}

/* Style footer */
footer {
	clear: both;
	padding: 2% 2%;
}

footer a {
	display: inline;
	float: left;
}

footer nav ul, footer nav li {
	display: inline;
	float: left;
	padding-right: 16px;
}

footer #finalMessage {
	clear: both;
}