#cartPage input[type="submit"], #cartPage select{
	background-color: #ffffb2;
}

#cartPage input[type="submit"]:hover, #cartPage select:hover{
	background-color: #bea053;
}

#cartPage input[type="submit"] {
	width: 96px;
}
