/* Add spacing to labels*/
#videoTransfer label {
	text-align: left;
	padding: 0 1%;
}

#quantityButton label {
	text-align: left;
	padding-left: 0;
	padding-right: 2%;
}

/* Remove all spacing around the input elements */
#quantityButton input {
	margin: 0;
	padding: 0;
}

/* Centre the button text */
#quantityMinus, #quantityAdd{
	text-align: center;
}

/* Set the input textfield width */
#quantityText {
	width: 32px;
}

#productPage input[type="button"], #productPage input[type="submit"], #productPage select{
	background-color: #ffffb2;
}

#productPage input[type="button"]:hover, #productPage input[type="submit"]:hover, #productPage select:hover{
	background-color: #bea053;
}

#productPage input[type="button"] {
	width: 48px;
}

#productPage select {
	width: 96px;
}

#productBuyButton {
	margin-right: 1%;
}

.purchaseButtons {
	width: 96px;
	display: inline-block;
}

#purchaseSection {
	clear: both;
	padding: 2% 2%;
}